<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Company</h5>
          <p>About Us</p>
          <p style="font-style:oblique;">One More Goal is dedicated to helping individuals and businesses achieve their objectives through innovative solutions.</p>
          <p>Contact Us</p>&nbsp;
          <img src="assets/images/google-logo.jpg" alt="Google Logo" width="30px">&nbsp;
          <img src="assets/images/download (1).png" alt="linkedin Logo" width="30px">
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <p><a routerLink="AboutUs">About</a></p>
          <p><a routerLink="Services">Services</a></p>
          <p><a routerLink="DirectorProfile">Directors Profile</a></p>
          <p><a routerLink="ContactUs">Contact</a></p>
        </div>
        <div class="col-md-4">
          <h5>Contact Info</h5>
          <p>Email: onemoregoal@gmail.com</p>
          <p>Phone: +1234567890</p>
        </div>
      </div>
      <div class="row1">
        ONEMOREGOAL Copyright © 2023 OneMoreGoal - All rights reserved 
        </div>
    </div>
  </footer>
  