<section class="section section-bg" id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content">
                    <h2>About Us</h2>
                    <p class="content">We are a team of young and dynamic people who are filled with passion and enthusiasm to the brim. Our expertise could be very much handy in providing recruitment and staffing services along with trainings and vendor management. You could count upon us as we are very much reliable and are capable of providing a top-notch quality of service. If you are a job-seeker, then definitely you would be landing into a good job when you have us onboard your goals. At the same time, if you are an employer seeking for services, you could relax and sip a cup of coffee while we get your job done. Our specialization in Vendor management is unmatched. You could see your company annual budget an affordable one due to our economical pricing of services.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section-bg2" id="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="cta-content">
            <h2>What Are We</h2>
          </div>

          <div class="col-md-4">
            <div class="main2">
            <div class="service">
              <div class="service-logo">
                <img src="assets/images/download.png" alt="img">
              </div>
              <h4>Our Goal</h4>
              <p>Building strong client-candidate relationships through top-notch training and recruitment. We prioritize consistency, urgency, and excellence in delivering premium staffing services across industries.</p>
            </div>
            </div>
          </div>
        <div class="col-md-4">
          <div class="main2">
            <div class="service">
              <div class="service-logo">
                <img src="assets/images/work.png" alt="img">
              </div>
              <h4>Our Work</h4>
              <p>Utilizing expert specialists and advanced technology, we meticulously screen and assess candidates to ensure the right fit. Our team comprehends job needs, recognizing the pivotal role of human resources in driving organizational success.</p>
             </div>
          </div>
        </div> 
        <div class="col-md-4">
          <div class="main2">
            <div class="service">
              <div class="service-logo">
                <img src="assets/images/passion.png" alt="img">
              </div>
              <h4>Our Passion</h4>
              <p>By proactively seeking candidates beyond conventional channels, we meet diverse industry needs. Understanding our clients deeply, we match them with suitable talent, conducting thorough interviews to connect great individuals with great brands.</p>
             </div>
          </div>
        </div> 
      </div>
    </div>
    </div>
  </section>

<section class="section" id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content">
                    <h3>Connect with  <em>One More Goal</em></h3>
                    <p>One More Goal Pvt Ltd, Reg Office: Sangareddy-502001. Operational Office: Banjara Hills, Hyderabad, Telangana</p>
                    <div class="main-button">
                        <a href="/ContactUs" routerlink="ContactUs">Contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="button backtotop aem-GridColumn aem-GridColumn--default--12">
  <button type="button" id="button-874ccc6547" class="cmp-button backtotop--show" (click)="scrollToTop()">
      <span class="cmp-button__text" routerLink="AboutUs">Back to top</span>
  </button>
</div>