<section class="director-profiles-section">
    <div class="container">
      <h2>MEET OUR TEAM</h2>
  
      <div class="row">
        <div class="col-md-12">
          <div class="director-card">
            <div class="director-info">
              <h3>Duggepogu David</h3>
              <p>Director & Business Tycoon</p>
              <p>Mater Piece in the Business Ethics, They need creative vision, collaboration skills, the ability to understand and work with stakeholders, and the ability to see the big picture in the business for this role.</p>
            </div>
            <div class="director-image">
              <img src="assets/images/david.jpg" alt="Director 1">
            </div>
          </div>
        </div>
  
        <div class="col-md-12">
          <div class="director-card">
            <div class="director-info">
              <h3>J Vinay Kumar</h3>
              <p>Co-Director & Career Trainer</p>
              <p>Analysies Students strengths and weaknesses, then match them with their skills and interests so that they can get the best suitable career choice. Author of "Study of engineering and Career".</p>
            </div>
            <div class="director-image">
              <img src="assets/images/Director Vinay Kumar.jpg" alt="Director 2">
            </div>
          </div>
        </div>
  
        <div class="col-md-12">
            <div class="director-card">
              <div class="director-info">
                <h3>Sandhya Reddy</h3>
                <p>Co-Director & Business Development Manager</p>
                <p>Setting goals & developing plans for business and revenue growth. Researching, planning, and implementing new target market initiatives. Researching prospective accounts in target markets.</p>
              </div>
              <div class="director-image">
                <img src="assets/images/Director Sandhya Rani.jpg" alt="Director 2">
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="director-card">
              <div class="director-info">
                <h3>Jashuva</h3>
                <p>Managing Director & Motivational Speaker</p>
                <p>Personality development helps you develop an impressive personality, makes you stand apart from the rest. Individuals ought to master the art of expressing thoughts & feelings in the most desired way.</p>
              </div>
              <div class="director-image">
                <img src="assets/images/Team-image-1-64  6x680.jpg" alt="Director 2">
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="button backtotop aem-GridColumn aem-GridColumn--default--12">
      <button type="button" id="button-874ccc6547" class="cmp-button backtotop--show" (click)="scrollToTop()">
          <span class="cmp-button__text" routerLink="AboutUs">Back to top</span>
      </button>
    </div>
  </section>
  